<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/cart.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f7b22d2da3.js" crossorigin="anonymous"></script>
  <title>Carrito | SneaKicks</title>
</head>

<body>
  
  <%- include('../partials/header'); %>
  
  <main>
    <div id="cart-container">
      <div class="cart">
        <div class="cart-labels">
          <h2>TUS PRODUCTOS</h2>
        </div>
          <% if (productsCart.length > 0){ %>
            <% for( let productCart of productsCart ) { %> 
              <div class="cart-product">
                <div class="item">
                  <div class="product-image">
                    <img src="/img/products/<%= productCart.product.main_picture %>" alt="Placholder Image 2" class="product-frame">
                  </div>
                  <form class="product-details" id="product-details<%= productCart.id %>" action="/products/<%= productCart.id %>/remove-from-cart?_method=DELETE" method="post">
                    <div class="details">
                      <h1><strong><%= productCart.product.brand_name %></strong> <%= productCart.product.name %></h1>
                      <p><strong>Talle <%= productCart.size %></strong></p>
                      <p id="ID<%= productCart.product_id %>">ID <%= productCart.product_id %></p>
                      <!-- <input class="readonly-input" value="%= productCart.product_id %>" readonly> -->
                    </div>
                    <div class="product-lower-container">
                      <div class="price"><%= productCart.product.price_final %></div>
                      <div class="stock">
                        <input id="unit-input-<%= productCart.product_id %>" type="number" value="<%= productCart.units %>" min="1" class="stock-field">
                      </div>
                      <div class="remove">
                        <button type="submit">Quitar</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            <% } %>
          <% }else{ %>
            <div class="cart-product">No tienes productos en el carrito</div>
          <% } %>
      </div>
      <div class="summary">
        <div class="summary-total-items"><span class="total-items"></span> Tu carrito de compras</div>
        <div class="summary-subtotal">
          <% if (productsCart.length > 0){ %>
            <% for (productCart of productsCart){ %>
              <div class="subtotal-title" id="product-name<%= productCart.id %>"><%= productCart.product.whole_name %>  X<%= productCart.units %></div>
              <div class="subtotal-value final-value" id="product-price<%= productCart.id %>"><%= productCart.product.price_final * productCart.units %>.00</div>
            <% } %>
          <% } %>
          <% if (ammount){ %>
            <div class="subtotal-title">Subtotal</div>
            <div class="subtotal-value final-value" id="cart-subtotal"><%= ammount %>.00</div>
          <% } %>
        </div>
        <div class="summary-delivery">
          <select name="delivery-collection" class="summary-delivery-selection">
              <option value="0" selected="selected" disabled hidden>Seleccionar tipo de envio</option>
              <% if (productsCart.length > 0){ %>
                <% if (shippings){ %>
                  <% for (shipping of shippings){ %>
                    <option value="<%= shipping.name %>"><%= shipping.name %> <%= shipping.description %></option>
                  <% } %>
                <% } %>
              <% } %>
          </select>
        </div>
        <div class="summary-total">
          <% if (ammount){ %>
            <div class="total-title">Total</div>
            <div class="total-value final-value" id="cart-total"><%= ammount %></div>
          <% }else{ %>
            <div class="total-title">Total</div>
            <div class="total-value final-value" id="cart-total">0.00</div>
          <% } %>
        </div>
        <div class="summary-checkout">
          <button class="checkout-cta" type="submit">Checkout</button>
        </div>
  
      </div>
    </div>
    
  </main>
  
  <%- include('../partials/footer'); %>

<script src="/scripts/cart.js"></script>
</body>

</html>