<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/cart.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/f7b22d2da3.js" crossorigin="anonymous"></script>
  <title>Carrito | SneaKicks</title>
</head>

<body>
  
  <%- include('../partials/header'); %>
  
  <main>
    <div class="cart">
      <div class="cart-labels">
        <h2>TUS PRODUCTOS</h2>
      </div>
        <% for( let producto of productos.slice(0,3) ) { %> 
          <div class="cart-product">
            <div class="item">
              <div class="product-image">
                <img src="/img/products/<%= producto.image_url %>" alt="Placholder Image 2" class="product-frame">
              </div>
              <div class="product-details">
                <div class="details">
                  <h1><strong><%= producto.marca %></strong> <%= producto.modelo %></h1>
                  <p><strong>Talle 41</strong></p>
                  <p>SKU - 232321939</p>
                </div>
                <div class="product-lower-container">
                  <div class="price"><%= producto.precio %></div>
                  <div class="quantity">
                    <input type="number" value="2" min="1" class="quantity-field">
                  </div>
                  <div class="remove">
                    <button>Quitar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% } %>       
    </div>
    <div class="summary">
      <div class="summary-total-items"><span class="total-items"></span> Tu carrito de compras</div>
      <div class="summary-subtotal">
        <div class="subtotal-title">Subtotal</div>
        <div class="subtotal-value final-value" id="cart-subtotal">16500.00</div>
      </div>
      <div class="summary-delivery">
        <select name="delivery-collection" class="summary-delivery-selection">
            <option value="0" selected="selected">Seleccionar tipo de envio</option>
            <option value="collection">Comun (5-7 dias habiles)</option>
            <option value="first-class">Rapido (3-5 dias habiles)</option>
            <option value="second-class">Hamilton (1-2 dias habiles)</option>
        </select>
      </div>
      <div class="summary-total">
        <div class="total-title">Total</div>
        <div class="total-value final-value" id="cart-total">16500.00</div>
      </div>
      <div class="summary-checkout">
        <button class="checkout-cta">Checkout</button>
      </div>
    </div>
  </main>
  
  <%- include('../partials/footer'); %>
  
</body>

</html>