<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/manageProduct.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/f7b22d2da3.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400;1,600&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <title>Editar | Sneakicks</title>
</head>



<body>

    <%- include('../partials/header'); %>

    <main>
        <div class="container">
            <div class="header-id-container-parent">
                <div class="header-container-child">
                    <h2 class="manage-title">Edita el producto</h2>
                    <div class="product-id">
                        <input type="number" name="id" id="product-id-read-only" value="<%= product.id %>" readonly>
                    </div>
                </div>
            </div>
            <form action="/products/<%= product.id %>/edit?_method=PUT" method="post" enctype="multipart/form-data">
                <article class="product-item">
                    <label for="item-name" class="item-label">Nombre del modelo</label>
                    <% if ( locals.errors && errors.name ){ %>
                        <div class="error-message-container">
                            <p class="error-message"><%= errors.name.msg %></p>
                        </div>
                    <% } %>
                    <input type="text" class="item-input" id="item-name" name="name" value="<%= locals.old && old.name ? old.name : product.name %>">
                </article>
                <article class="product-item">
                    <label for="item-colorwave" class="item-label">Colorwave</label>
                    <% if ( locals.errors && errors.colorwave ){ %>
                        <div class="error-message-container">
                            <p class="error-message"><%= errors.colorwave.msg %></p>
                        </div>
                    <% } %>
                    <input type="text" class="item-input" id="item-colorwave" name="colorwave" value="<%= locals.old && old.colorwave ? old.colorwave : product.colorwave %>">
                </article>
                <article class="product-item">
                    <label for="item-brand" class="item-label">Marca</label>
                    <% if ( locals.errors && errors.brand_name ){ %>
                        <div class="error-message-container">
                            <p class="error-message"><%= errors.brand_name.msg %></p>
                        </div>
                    <% } %>
                    <input type="text" class="item-input" id="item-brand" name="brand_name" value="<%= locals.old && old.brand_name ? old.brand_name : product.brand_name %>">
                </article>
                <article class="product-item">
                    <label for="item-category" class="item-label">Categoía</label>
                    <% if ( locals.errors && errors.category ){ %>
                        <div class="error-message-container">
                            <p class="error-message"><%= errors.category.msg %></p>
                        </div>
                    <% } %>
                    <input type="text" class="item-input" id="item-category" name="category" value="<%= locals.old && old.category ? old.category : product.category %>">
                </article>
                <article class="product-item">
                    <p class="item-header">Talles</p>
                    <div id="product-size">
                        <% for (let i=3; i<=15.5; i=i+0.5) { %>
                            <div class="item-size">
                                <input type="checkbox" name="size" value="<%= i %>" class="item-checkbox" id="<%= i %>" checked>
                                <label for="<%= i %>"><%= i %></label>
                            </div>
                        <% } %>
                    </div>
                </article>
                <section class="price-discount-container">
                    <article class="product-item">
                        <label for="item-price" class="item-label">Precio</label>
                        <% if ( locals.errors && errors.price_original ){ %>
                            <div class="error-message-container">
                                <p class="error-message"><%= errors.price_original.msg %></p>
                            </div>
                        <% } %>
                        <input type="number" min="1" class="item-input" id="item-price" name="price_original" value="<%= locals.old && old.price_original ? old.price_original : product.price_original %>">
                    </article>
                    <article class="product-item">
                        <label for="item-discount" class="item-label">Descuento</label>
                        <% if ( locals.errors && errors.discount ){ %>
                            <div class="error-message-container">
                                <p class="error-message"><%= errors.discount.msg %></p>
                            </div>
                        <% } %>
                        <div class="discount-container">
                            <input type="number" min="0" max="90" class="item-input" id="item-discount" name="discount" value="<%= locals.old && old.discount ? old.discount : product.discount %>"><span>%</span>
                        </div>
                    </article>
                </section>
                <section class="price-discount-container">
                    <article class="product-item">
                        <label for="item-year" class="item-label">Año de salida</label>
                        <% if ( locals.errors && errors.release_year ){ %>
                            <div class="error-message-container">
                                <p class="error-message"><%= errors.release_year.msg %></p>
                            </div>
                        <% } %>
                        <input type="number" min="1970" class="item-input" id="item-year" name="release_year" value="<%= locals.old && old.release_year ? old.release_year : product.release_year %>">
                    </article>
                    <article class="product-item">
                        <label for="item-condition" class="item-label">Condición</label>
                        <div id="item-condition-container">
                            <select name="shoe_condition" id="item-condition">
                                <option value="new_no_defects"  >Nuevo, sin defectos</option>
                                <option value="used">Usado</option>
                            </select>
                            <span class="custom-arrow-size"></span>
                        </div>
                    </article>
                </section>
                <article class="product-item">
                        <label for="item-description" class="item-label">Descripción del producto</label>
                        <% if ( locals.errors && errors.story ){ %>
                            <div class="error-message-container">
                                <p class="error-message"><%= errors.story.msg %></p>
                            </div>
                        <% } %>
                        <div class="description-container-parent">
                            <div class="description-container-child">
                                <textarea name="story" id="item-description" placeholder="Escriba una descripción"><%= product.story %></textarea>
                                <span class="description-aux"></span>
                            </div>
                        </div>
                </article>
                <article class="product-item">
                    <p class="item-header">Imágenes del producto</p>
                    <div class="item-images">
                        <input type="file" name="main_picture" accept=".jpg,.jpeg,.png" id="item-images">
                    </div>
                </article>
                <article class="product-item" id="product-buttons">
                    <div class="item-submit">
                        <button type="submit" id="item-submit">Actualizar</button>
                    </div>
                    <div class="item-reset">
                        <button type="reset" id="item-reset">Borrar</button>
                    </div>
                </article>
            </form>
        </div>
    </main>

    <%- include('../partials/footer'); %>

</body>

</html>